div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  background-color: rgb(232, 233, 235);
}

@media only screen and (max-width: 656px) {
  div {
    padding: 0;
    min-width: 450px;
  }
}
